USE [master]
GO
/****** Object:  Database [Okul]    Script Date: 31.07.2023 11:52:35 ******/
CREATE DATABASE [Okul]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Okul', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Okul.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Okul_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Okul_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Okul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Okul]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 31.07.2023 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DersSinifOgretmenAtama]    Script Date: 31.07.2023 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DersSinifOgretmenAtama](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SinifId] [int] NOT NULL,
	[DersId] [int] NOT NULL,
	[OgretmenId] [int] NOT NULL,
 CONSTRAINT [PK_DerseGiren] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdareKullaniciGiris]    Script Date: 31.07.2023 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdareKullaniciGiris](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[Statü] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Resim] [image] NULL,
 CONSTRAINT [PK_IdareKullaniciGiris] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 31.07.2023 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [int] NOT NULL,
	[SinifId] [int] NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Resim] [image] NULL,
 CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [OgrenciUnique] UNIQUE NONCLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UniqueConstraintName] UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciNot]    Script Date: 31.07.2023 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciNot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciId] [int] NOT NULL,
	[DersId] [int] NOT NULL,
	[Sinav1] [int] NOT NULL,
	[Sinav2] [int] NOT NULL,
	[Sinav3] [int] NOT NULL,
	[Sözlü1] [int] NOT NULL,
	[Sözlü2] [int] NOT NULL,
	[Sözlü3] [int] NOT NULL,
	[Ortalama] [int] NOT NULL,
 CONSTRAINT [PK_OgrenciNot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmen]    Script Date: 31.07.2023 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SicilNo] [int] NOT NULL,
	[DersId] [int] NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Resim] [image] NULL,
 CONSTRAINT [PK_Ogretmen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UniqueConstraintName1] UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Ogretmen__B736D3C217E7FCCF] UNIQUE NONCLUSTERED 
(
	[SicilNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinif]    Script Date: 31.07.2023 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinif](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sinif] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OgrenciNot] ADD  CONSTRAINT [DF_OgrenciNot_Sinav1]  DEFAULT ((0)) FOR [Sinav1]
GO
ALTER TABLE [dbo].[OgrenciNot] ADD  CONSTRAINT [DF_OgrenciNot_Sinav2]  DEFAULT ((0)) FOR [Sinav2]
GO
ALTER TABLE [dbo].[OgrenciNot] ADD  CONSTRAINT [DF_OgrenciNot_Sinav3]  DEFAULT ((0)) FOR [Sinav3]
GO
ALTER TABLE [dbo].[OgrenciNot] ADD  CONSTRAINT [DF_OgrenciNot_Sözlü1]  DEFAULT ((0)) FOR [Sözlü1]
GO
ALTER TABLE [dbo].[OgrenciNot] ADD  CONSTRAINT [DF_OgrenciNot_Sözlü2]  DEFAULT ((0)) FOR [Sözlü2]
GO
ALTER TABLE [dbo].[OgrenciNot] ADD  CONSTRAINT [DF_OgrenciNot_Sözlü3]  DEFAULT ((0)) FOR [Sözlü3]
GO
ALTER TABLE [dbo].[OgrenciNot] ADD  CONSTRAINT [DF_OgrenciNot_Ortalama]  DEFAULT ((0)) FOR [Ortalama]
GO
ALTER TABLE [dbo].[DersSinifOgretmenAtama]  WITH CHECK ADD  CONSTRAINT [FK_DerseGiren_Ders] FOREIGN KEY([OgretmenId])
REFERENCES [dbo].[Ogretmen] ([Id])
GO
ALTER TABLE [dbo].[DersSinifOgretmenAtama] CHECK CONSTRAINT [FK_DerseGiren_Ders]
GO
ALTER TABLE [dbo].[DersSinifOgretmenAtama]  WITH CHECK ADD  CONSTRAINT [FK_DerseGiren_Sinif] FOREIGN KEY([SinifId])
REFERENCES [dbo].[Sinif] ([Id])
GO
ALTER TABLE [dbo].[DersSinifOgretmenAtama] CHECK CONSTRAINT [FK_DerseGiren_Sinif]
GO
ALTER TABLE [dbo].[DersSinifOgretmenAtama]  WITH CHECK ADD  CONSTRAINT [FK_DersSinifOgretmenAtama_Ders] FOREIGN KEY([DersId])
REFERENCES [dbo].[Ders] ([Id])
GO
ALTER TABLE [dbo].[DersSinifOgretmenAtama] CHECK CONSTRAINT [FK_DersSinifOgretmenAtama_Ders]
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenci_Sinif] FOREIGN KEY([SinifId])
REFERENCES [dbo].[Sinif] ([Id])
GO
ALTER TABLE [dbo].[Ogrenci] CHECK CONSTRAINT [FK_Ogrenci_Sinif]
GO
ALTER TABLE [dbo].[OgrenciNot]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciNot_Ders] FOREIGN KEY([DersId])
REFERENCES [dbo].[Ders] ([Id])
GO
ALTER TABLE [dbo].[OgrenciNot] CHECK CONSTRAINT [FK_OgrenciNot_Ders]
GO
ALTER TABLE [dbo].[OgrenciNot]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciNot_Ogrenci] FOREIGN KEY([OgrenciId])
REFERENCES [dbo].[Ogrenci] ([Id])
GO
ALTER TABLE [dbo].[OgrenciNot] CHECK CONSTRAINT [FK_OgrenciNot_Ogrenci]
GO
USE [master]
GO
